DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

R2_ACCESS_TOKEN=
R2_SECRET_TOKEN=
R2_ENDPOINT=
R2_BUCKET=


BASE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_UMAMI_TRACK_CODE=""
NEXT_PUBLIC_UMAMI_URL=""

NODE_ENV="development"